.login-page {
  .login-form {
    max-width: 100%;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }
  background-image: url("/assets/imgs/pages/login-back.jpg");
  background-size: cover;
}
