.title-wrap {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--mutted-border-color);
  padding-bottom: 10px;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    background: var(--color-dark);
    height: 3px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
