.post-card-horizontal {
  // max-width: 720px;

  .img-hover-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
    min-height: 150px;
    transition: all 0.2s ease-in-out;
  }

  .img-hover-slide:hover {
    transform: scale(1.1);
  }

  .img-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  /*post-share-social*/
  figure .social-share,
  .post-thumb .social-share {
    position: absolute;
    float: left;
    overflow: hidden;
    padding-left: 0;
    bottom: 10px;
    right: 5px;
    margin: 0;
    z-index: 200;
  }
  .animate-conner .post-thumb .social-share {
    right: 35px;
  }
  figure .social-share li,
  .post-thumb .social-share li {
    width: 100%;
    text-align: center;
    max-width: 0px;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    float: left;
    margin-left: 5px;
  }
  figure .social-share li:first-child,
  .post-thumb .social-share li:first-child {
    max-width: 22px;
    opacity: 1;
    pointer-events: none;
  }
  figure .social-share li a,
  .post-thumb .social-share li a {
    display: block;
    width: 22px;
    height: 22px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
  }
  figure .social-share:hover li:nth-child(1),
  .post-thumb .social-share:hover li:nth-child(1) {
    opacity: 0;
    max-width: 0;
  }
  figure .social-share:hover li,
  .post-thumb .social-share:hover li {
    opacity: 1;
    max-width: 22px;
  }
  figure .social-share:hover li:last-child,
  .post-thumb .social-share:hover li:last-child {
    margin-right: 15px;
  }
  .social-share {
    height: 0;
    transition-duration: 0.2s;
  }
  .bgcover:hover .social-share,
  .post-thumb:hover .social-share {
    height: 30px;
    transition-duration: 0.2s;
  }
  .post-thumb .social-share li a {
    background: #007aff;
  }
  .post-thumb .social-share li a.fb,
  .header-social-network .list-inline-item a.fb {
    background: #3b5999;
  }
  .post-thumb .social-share li a.tw,
  .header-social-network .list-inline-item a.tw {
    background: #55acee;
  }
  .post-thumb .social-share li a.pt,
  .header-social-network .list-inline-item a.pt {
    background: #bd081c;
  }

  .hidden-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
