@import "styles/_variables.less";

.dashboard-wrap {
  @media @breakpoint-desktop {
    .banner {
      background-image: url("/assets/featured.png");
      background-repeat: no-repeat;
      background-position: right;
      width: 100%;
      height: 400px;
    }
  }
}
