// override variables antd
// check craco.config.js
@primary-color: #5869da;
@layout-body-background: #fff;
@link-hover-color: tint(@primary-color, 20%);
@link-active-color: shade(@primary-color, 20%);
