@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-mode: "light";
  --color-primary: #5869da;
  --color-secondary: #2d3d8b;
  --color-success: #09815c;
  --color-danger: #e3363e;
  --color-warning: #e38836;
  --color-info: #4da7d4;
  --color-light: #f8f9f9;
  --color-grey: #f7f8f9;
  --color-dark: #000c2d;
  --color-muted: #687385;
  --color-white: #fff;
  --primary-border-color: #9b9b9b;
  --secondary-border-color: #f0f8ff;
  --mutted-border-color: #eaecee;
  --box-shadow-normal: 0 10px 10px rgba(0, 0, 0, 0.08);
  --box-shadow-hover: 0 4px 60px 0 rgba(0, 0, 0, 0.2);
  --button-shadow-color-normal: hsla(0, 0%, 42%, 0.2);
  --button-shadow-color-hover: hsla(0, 0%, 42%, 0.3);
}

* {
  font-family: "Noto Sans JP";
}
