@import "antd/dist/antd.less";

// override variables antd
// check craco.config.js
@primary-color: #5869da;
@layout-body-background: #fff;
@link-color: rgba(0, 0, 0, 0.85);
@link-hover-color: tint(@primary-color, 10%);
@link-active-color: shade(@primary-color, 10%);
