// @import "antd/es/style/variable.less";

// global

@color-bg-overlay: rgba(0, 0, 0, 0.4);

// breakpoint responsive
@breakpoint-xs: ~"screen and (min-width: 0)";
@breakpoint-sm: ~"screen and (min-width: 576px)";
@breakpoint-md: ~"screen and (min-width: 768px)";
@breakpoint-lg: ~"screen and (min-width: 992px)";
@breakpoint-xl: ~"screen and (min-width: 1200px)";
@breakpoint-mobile: ~"screen and (max-width: 767px)";
@breakpoint-desktop: @breakpoint-md;
