.about-me-wrap {
  .social-share a {
    background: #007aff;
  }
  .social-share a.fb,
  .header-social-network .st-inne-item a.fb {
    background: #3b5999;
  }
  .social-share a.tw,
  .header-social-network .st-inne-item a.tw {
    background: #55acee;
  }
  .social-share a.pt,
  .header-social-network .st-inne-item a.pt {
    background: #bd081c;
  }

  .social-share a {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
  }
}
