.post-card {
  .post-card-1 {
    border: 1px solid var(--secondary-border-color);
    z-index: 12;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    position: relative;
    background: #fff;
  }
  .post-card-1::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 0;
    left: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-normal), 0 0 0 transparent;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
  }
  .post-card-1 .thumb-overlay {
    min-height: 220px;
    border-radius: 10px 10px 0 0;
  }
  .post-card-1 .post-content {
    background: #fff;
    border-radius: 0 0 10px 10px;
  }
  .post-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 115px;
  }
  .post-card-1 .top-right-icon {
    top: 20px;
    right: 20px;
  }
  .post-card-1 .top-left-icon {
    top: 20px;
    left: 20px;
  }

  .hover-up:hover {
    transform: translateY(-5px);
    box-shadow: var(--box-shadow-hover), 0 0 0 transparent;
  }

  .img-hover-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 280px;
    overflow: hidden;
  }

  // thumb-overlay
  .thumb-overlay::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(50%, transparent),
      to(rgba(0, 0, 0, 0.8))
    );
    background: -webkit-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
  }

  .thumb-overlay .post-thumb .social-share {
    right: 35px;
  }

  .img-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .top-right-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    z-index: 3;
    color: #fff;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition-duration: 0.4s;
    -ms-transition: all 0.4s ease;
    left: unset;
    right: 30px;
  }

  /*post-share-social*/
  figure .social-share,
  .post-thumb .social-share {
    position: absolute;
    float: left;
    overflow: hidden;
    padding-left: 0;
    bottom: 10px;
    right: 0;
    margin: 0;
    z-index: 200;
  }
  .animate-conner .post-thumb .social-share {
    right: 35px;
  }
  figure .social-share li,
  .post-thumb .social-share li {
    width: 100%;
    text-align: center;
    max-width: 0px;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    float: left;
    margin-left: 5px;
  }
  figure .social-share li:first-child,
  .post-thumb .social-share li:first-child {
    max-width: 24px;
    opacity: 1;
    pointer-events: none;
  }
  figure .social-share li a,
  .post-thumb .social-share li a {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
  }
  figure .social-share:hover li:nth-child(1),
  .post-thumb .social-share:hover li:nth-child(1) {
    opacity: 0;
    max-width: 0;
  }
  figure .social-share:hover li,
  .post-thumb .social-share:hover li {
    opacity: 1;
    max-width: 24px;
  }
  figure .social-share:hover li:last-child,
  .post-thumb .social-share:hover li:last-child {
    margin-right: 15px;
  }
  .social-share {
    height: 0;
    transition-duration: 0.2s;
  }
  .bgcover:hover .social-share,
  .post-thumb:hover .social-share {
    height: 30px;
    transition-duration: 0.2s;
  }
  .post-thumb .social-share li a {
    background: #007aff;
  }
  .post-thumb .social-share li a.fb,
  .header-social-network .list-inline-item a.fb {
    background: #3b5999;
  }
  .post-thumb .social-share li a.tw,
  .header-social-network .list-inline-item a.tw {
    background: #55acee;
  }
  .post-thumb .social-share li a.pt,
  .header-social-network .list-inline-item a.pt {
    background: #bd081c;
  }
  .thumb-overlay .post-thumb .social-share {
    right: 35px;
  }

  .hidden-description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}
