@import "styles/_override-antd.less";

.main-header {
  .cus-menu-icon a {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
  }

  .cus-menu-icon {
    .fb {
      background: #3b5999;
    }

    .tw {
      background: #55acee;
    }

    .pt {
      background: #bd081c;
    }
  }

  .ant-menu {
    font-weight: 500;
  }

  .ant-menu-horizontal {
    line-height: 50px;
  }
}
